

<div id="profile" class="page-layout ios-scroll simple tabbed">


    <div class="content">

        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Terms & Conditions">
                <app-terms-condition></app-terms-condition>
            </mat-tab>

            <mat-tab   label="Privacy Policy">
                <app-privacy-policy></app-privacy-policy>
            </mat-tab>

            <mat-tab label="About Us">
                <app-about-us></app-about-us>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
