@import "src/@fuse/scss/fuse";



.edit-profile-img{
    display: flex;
}

.verification{
    cursor: pointer;
}

.flex-wrap{
    flex-wrap: wrap;
}

.mat-form-field-appearance-outline .mat-form-field-prefix, .mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -1px !important;
}