

<div id="profile" class="page-layout ios-scroll simple tabbed">


    <div class="content">

        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Counter">
                <app-counter></app-counter>
            </mat-tab>
            <mat-tab   label="Testimonials">
                <app-testimonials></app-testimonials>
            </mat-tab>

            <mat-tab label="Partners">
                <app-partner></app-partner>
            </mat-tab>

            <mat-tab label="About">
                <app-home-about></app-home-about>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>