<div id="new_branch" class="page-layout ios-scroll simple tabbed ios-scroll">

    <div id="" class="p-24" fxLayout="row wrap">
        <div class="w-100-p">
            <mat-form-field class="w-50-p p-16">
                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search">
            </mat-form-field>
            <button aria-label="EDIT" class="submit-button float-right add-button" color="accent" mat-raised-button
                   (click)="openAddDialog()" >
                <img src="https://img.icons8.com/ultraviolet/40/000000/add.png"> Add New Driver
            </button>

        </div>
        <table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive w-100-p p-16" mat-table>

            <ng-container matColumnDef="first_name">
                <th *matHeaderCellDef mat-header-cell> First name</th>
                <td *matCellDef="let element" mat-cell>
                  <span *ngIf="!platform.ANDROID && !platform.ANDROID">{{element.first_name}}</span>
                  <span *ngIf="platform.ANDROID || platform.ANDROID">{{element.first_name}}  {{element.last_name}}</span>


                </td>
            </ng-container>


            <ng-container matColumnDef="last_name">
                <th *matHeaderCellDef mat-header-cell> Last name</th>
                <td *matCellDef="let element" mat-cell> {{element.last_name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell> Email</th>
                <td *matCellDef="let element" mat-cell> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th *matHeaderCellDef mat-header-cell> Phone</th>
                <td *matCellDef="let element" mat-cell> {{element.phone}} </td>
            </ng-container>



            <ng-container matColumnDef="active">
                <th *matHeaderCellDef mat-header-cell> Status</th>
                <td *matCellDef="let element" mat-cell>
                    <span class="unactive"  *ngIf="element.active == 0">Inactive</span>
                    <span class="active"  *ngIf="element.active == 1">Active</span>
                    <span class="block"  *ngIf="element.active == 2">Blocked</span>
                </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="action">
                <th *matHeaderCellDef mat-header-cell> Action</th>
                <td *matCellDef="let element" mat-cell class="py-8">
                    <button aria-label="details" *ngIf="element.active !== 2" class="submit-button mx-4 my-4" color="accent"
                            mat-raised-button (click)="openOrdersDialog(element._id)">
                        Details
                    </button>

                    <button aria-label="details" *ngIf="element.active !== 2" class="submit-button mx-4 my-4" color="accent"
                            mat-raised-button (click)="openEditDialog(element)">
                        Edit
                    </button>
                    <button aria-label="details"  class="submit-button mx-4 my-4" color="accent"
                            mat-raised-button (click)="deleteAccount(element)">
                        Delete
                    </button>

                </td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

        </table>

        <mat-paginator class="w-100-p" [length]="length" (click)="getUsers()"
                       [pageSize]="pagination.limit"
                       (page)="pageEvent = $event"
        >
        </mat-paginator>



    </div>


</div>