<div class="page-layout ios-scroll simple tabbedm p-16 supplier" id="deals">
    <h1>E_Commerce Companies</h1>

    <div class="w-100-p filter-search">
        <div class="filter ">
            <div class="">
                <mat-form-field class=" ">
                    <input (keyup)="search($event.target.value)" matInput
                           placeholder="Search By Title" class="">
                </mat-form-field>
            </div>
        </div>
        <div>
            <button aria-label="EDIT" class="submit-button float-right " color="accent" mat-raised-button
                    routerLink="/pages/new-user/ecommerce">
                <img class="icone-plus " src="https://img.icons8.com/ultraviolet/40/000000/add.png"> Add E_commerce
            </button>
        </div>
    </div>
    <table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive w-100-p p-16 table" mat-table
    matSort matSortActive="title" matSortDisableClear matSortDirection="desc" (matSortChange)="sort($event)">
        <!-- Position Column -->

        <ng-container matColumnDef="title" class="">
            <th *matHeaderCellDef mat-header-cell mat-sort-header disableClear> Company</th>
            <td *matCellDef="let element" mat-cell> {{element.company_name}}  </td>
        </ng-container>

        <ng-container matColumnDef="owner" class="">
            <th *matHeaderCellDef mat-header-cell>Owner</th>
            <td *matCellDef="let element" mat-cell> {{element.first_name}} {{element.last_name}}  </td>
        </ng-container>

        <ng-container matColumnDef="delivery" class="">
            <th *matHeaderCellDef mat-header-cell>Delivery</th>
            <td *matCellDef="let element" mat-cell> {{element.first_name}}   </td>
        </ng-container>
        <ng-container matColumnDef="transit" class="">
            <th *matHeaderCellDef mat-header-cell>Transit</th>
            <td *matCellDef="let element" mat-cell> {{element.first_name}}  </td>
        </ng-container>


        <ng-container matColumnDef="status" class="">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let element" mat-cell>
                <span class="unactive" *ngIf="element.active == 0">Inactive</span>
                <span class="active" *ngIf="element.active == 1">Active</span>
                <span class="unactive" *ngIf="element.active == 2">Reject</span>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell> Action</th>
            <td *matCellDef="let element" mat-cell class="action" >
                <img src="assets/icons/table/edit.png" aria-label="EDIT" class=" m-8" color="accent" title="edit"
                        [routerLink]="'/pages/new-user/' + element._id"
                >

                <!--                <button aria-label="EDIT" class=" m-8" color="accent" mat-raised-button-->
                <!--                        (click)="updateShop(element , 0)"  *ngIf="element.active == 1"-->
                <!--                >-->
                <!--                    Unactive-->
                <!--                </button>-->

                <img src="assets/icons/table/details.png" aria-label="EDIT" class=" m-8" color="accent" title="details" [routerLink]="'/pages/supplier-details/' + element._id"
                >

            </td>
        </ng-container>
    </table>
    <mat-paginator class="w-100-p" [length]="length" [pageSizeOptions]="[10,25,50,100,200]"(click)="getSuppliers()"
                   [pageSize]="this.pagination.limit"
                   (page)="pageEvent = $event; getSuppliers()">
    </mat-paginator>
</div>