<div id="dashboard-project" class="page-layout ios-scroll simple right-sidebar" fxLayout="row">

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        <div class="header accent p-24 pb-0" fxLayout="column" fxLayoutAlign="space-between">

            <div fxLayout="row" fxLayoutAlign="space-between start">

                <span class="mat-display-1 my-0 my-sm-24 welcome-message"
                      [@animate]="{value:'*',params:{x:'50px'}}">Welcome {{name}}.
                </span>

                <button mat-icon-button class="sidebar-toggle mr-8" fxHide.xs
                        (click)="toggleSidebar('project-dashboard-right-sidebar-1')">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>

            <div fxLayout="row">

                <div class="selected-project">DeliverQ Dashboard</div>

            </div>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content" *ngIf="Statisfics">

            <mat-tab-group dynamicHeight>

                <mat-tab label="Statistics" >
                    <div class="widget-group p-12" fxLayout="row wrap" fxFlex="100"
                         [@animateStagger]="{value:'50'}" >

                        <!-- WIDGET 1 -->
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.EcommercesCountActive}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> Active E_commerce</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.EcommercesCountInActive}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> InActive E_commerce</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.CompaniesCountActive}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> Active Companies</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.CompaniesCountInActive}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> InActive Companies</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.ShipmentsPending}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> Pending Shipments</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72 ">
                                        {{Statisfics?.ShipmentsDispatched}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center text-center" >
                                        <span class="active"> Dispatched Shipments</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.ShipmentsOnThyWay}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> Shipments On Way</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>
                        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                                     fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                            <div class="fuse-widget-front" >

                                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                                    <div class="light-blue-fg font-size-72 line-height-72">
                                        {{Statisfics?.ShipmentsCompleted}}
                                    </div>
                                    <div class="h3 secondary-text font-weight-500 text-center">
                                        <span class="active"> Shipments Completed</span>
                                    </div>
                                </div>

                            </div>
                        </fuse-widget>

                    </div>
                    <!-- / WIDGET GROUP -->

                </mat-tab>




            </mat-tab-group>

        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="project-dashboard-right-sidebar-1" position="right" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content">

            <!-- WIDGET GROUP -->
            <div class="widget-group" fxLayout="column" fxFlex="100" [@animateStagger]="{value:'50'}">

                <!-- NOW WIDGET -->
                <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="pb-0">

                    <!-- Front -->
                    <div class="fuse-widget-front">

                        <div class="pl-16 pr-8 py-16" fxLayout="row" fxLayoutAlign="space-between center">

                            <div class="h3">{{dateNow | date: 'EEEE, HH:mm:ss'}}</div>

                            <div>
                                <!--                                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="more">-->
                                <!--&lt;!&ndash;                                    <mat-icon>more_vert</mat-icon>&ndash;&gt;-->
                                <!--                                </button>-->

                                <mat-menu #moreMenu="matMenu">
                                    <button mat-menu-item aria-label="Flip widget">
                                        Details
                                    </button>
                                </mat-menu>
                            </div>
                        </div>

                        <div class="p-16 pb-24" fxLayout="column" fxLayoutAlign="center center">
                            <div class="h1 secondary-text">
                                <span>{{dateNow | date: 'MMMM'}}</span>
                            </div>

                            <div class="font-size-72 line-height-88 secondary-text font-weight-400">
                                {{dateNow | date: 'd'}}
                            </div>

                            <div class="h1 secondary-text">
                                <span>{{dateNow | date: 'y'}}</span>
                            </div>
                        </div>

                    </div>
                    <!-- / Front -->

                </fuse-widget>
                <!-- / NOW WIDGET -->

                <!-- WEATHER WIDGET -->

                <!-- / WEATHER WIDGET -->

            </div>
            <!-- / WIDGET GROUP -->

        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

</div>
