
.map {
    min-height: 40rem;
    max-width: 50rem !important;
    max-height: 40rem;
    min-width: 40rem !important;

  .search-location {
    //border-color: $primary;
  }

  img{
    width: 2rem;
  }
  agm-map {
    height: 30rem;
    width: 40rem;
  }

  .form-control:focus {
    box-shadow: none;
  }
}
