.croppe-dialog {
    max-height: 45rem;
    max-width: 50rem;
    button{
        width: 13rem;;
    }
}


.upload{
    padding: 12px;
    border-radius: 5px;
    color: black;
    background: #039be5;
    border: none;
}

.dialog{
    //height: 30rem;
}

.close-button{
    right: 0px;
}


::ng-deep .mat-dialog-container{
    padding:  10px;
    min-height: 20rem;
    height: auto;
}
