<div class="page-layout ios-scroll simple tabbedm p-16 advantage" id="deals">
    <h1>Advantages</h1>
    <div class="w-100-p">
        <mat-form-field class="w-25-p p-16 filter">
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Search By Title">
        </mat-form-field>

        <button aria-label="EDIT" class="submit-button float-right add-button" color="accent" mat-raised-button
                (click)="openAddDialog()">
            <img src="https://img.icons8.com/ultraviolet/40/000000/add.png"> Add New Advantage
        </button>
    </div>
    <table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive w-100-p p-16" mat-table>


        <ng-container matColumnDef="title_en" class="">
            <th *matHeaderCellDef mat-header-cell> English Title</th>
            <td *matCellDef="let element" mat-cell> {{element.title_en}}  </td>
        </ng-container>

        <ng-container matColumnDef="description_en" class="">
            <th *matHeaderCellDef mat-header-cell> English Description</th>
            <td *matCellDef="let element" mat-cell> {{element.description_en}}  </td>
        </ng-container>

        <ng-container matColumnDef="image" >
            <th *matHeaderCellDef mat-header-cell>Image</th>
            <td *matCellDef="let element" mat-cell><img [src]="restService.baseUrlFile   +  element.image" alt="" class="image">  </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell> Action</th>
            <td *matCellDef="let element" mat-cell class="py-8 action">
                <img src="assets/icons/table/edit.png" aria-label="details"  class=" mx-4 my-4" color="accent" title="edit"
                (click)="openEditDialog(element)">

                <img src="assets/icons/table/delete.png" aria-label="details"  class=" mx-4 my-4" color="accent" title="delete"
                (click)="confirmeRemove(element)">
            </td>
        </ng-container>
        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>

</div>
