

<div id="profile" class="page-layout ios-scroll simple tabbed">


    <div class="content">

        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Admins">
                <app-admins></app-admins>
            </mat-tab>
            <mat-tab   label="Users">
                <app-normal-user></app-normal-user>
            </mat-tab>

            <mat-tab label="Courier">
                <app-service-providers></app-service-providers>
            </mat-tab>

            <mat-tab label="E_Commerce">
                <app-ecommerce-user></app-ecommerce-user>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
