<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/logos/logo-footer.png">
            </div>

            <div class="title">RESET YOUR PASSWORD</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Verification Code</mat-label>
                    <input matInput formControlName="otp" maxlength="4" [ngClass]="f.otp.invalid && (f.otp.dirty || f.otp.touched) && f.otp.errors.required?'border-danger' : ''">
                    <mat-error *ngIf="resetPasswordForm.get('otp').hasError('otp')">
                        Code is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('otp').hasError('otp')">
                        Please enter a valid verification code
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" maxlength="16" minlength="8">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Password is required
                    </mat-error >
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('minlength')" >Password should be between 8 and 16 characters </mat-error>

                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password (Confirm)</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm" maxlength="16">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" (click)="onSubmit()"
                        aria-label="RESET MY PASSWORD" [disabled]="resetPasswordForm.invalid">
                    RESET MY PASSWORD
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/login'">Go back to login</a>
            </div>

        </div>

    </div>

</div>
