<div id="profile" class="page-layout ios-scroll simple tabbed  ios-scroll">


    <div class="content">
        <mat-tab-group dynamicHeight="true">
            <mat-tab label="Pending">
                <app-pending></app-pending>
            </mat-tab>
            <mat-tab label="Dispatched">
                <app-dispached></app-dispached>
            </mat-tab>
            <mat-tab label="Transit">
                <app-transit></app-transit>
            </mat-tab>
            <mat-tab label="Completed">
                <app-completed></app-completed>
            </mat-tab>
        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>


