<div class="page-layout ios-scroll simple tabbedm p-16 orders" id="deals">
    <h1>Accounts</h1>
    <form [formGroup]="filterForm"  class="w-100-p filter-search">
        <mat-form-field class="w-25-p  filter">
            <input (keyup)="pagination.tag = $event.target.value;applyFilter()" matInput placeholder="Search By Title">
        </mat-form-field>
        <div class="mx-8">
            <mat-form-field>
                <mat-label> Date From</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="mx-8">
            <mat-form-field>
                <mat-label> Date To</mat-label>
                <input matInput [matDatepicker]="pickerend" formControlName="endDate" readonly>
                <mat-datepicker-toggle matSuffix [for]="pickerend"></mat-datepicker-toggle>
                <mat-datepicker #pickerend></mat-datepicker>
            </mat-form-field>
        </div>
        <div>
            <button aria-label="EDIT" class="submit-button float-right w-100-p " color="accent" mat-raised-button
                    (click)="applyFilter()">
                Apply Filter
            </button>
        </div>


        <div class="mx-16">
            <app-export-excel [type]="'accounts'" [pagination]="pagination"></app-export-excel>
        </div>
    </form>
    <table [dataSource]="dataSource" class="mat-elevation-z8 table-responsive w-100-p mt-16 p-16 table-responsive"
    mat-table matSort matSortActive="date" matSortDisableClear matSortDirection="desc" (matSortChange)="sort($event)">

        <!-- Position Column -->

        <ng-container matColumnDef="title" class="">
            <th *matHeaderCellDef mat-header-cell mat-sort-header disableClear>Customer/E-commerce Name</th>
            <td *matCellDef="let element" mat-cell> 
                <a [routerLink]="'/pages/supplier-details/' + element?.userObj?._id">{{element.userObj?.first_name}} {{element.userObj?.last_name}} </a>
            </td>
        </ng-container>


        <ng-container matColumnDef="company" class="">
            <th *matHeaderCellDef mat-header-cell>Courier Company</th>
            <td *matCellDef="let element" mat-cell> 
                <a [routerLink]="'/pages/supplier-details/' + element.companyObj?._id" >{{element.companyObj?.company_name}}  </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="trackingId" class="">
            <th *matHeaderCellDef mat-header-cell> Tracking ID.</th>
            <td *matCellDef="let element" mat-cell> {{element.tag}} </td>
        </ng-container>
        <ng-container matColumnDef="date" class="">
            <th *matHeaderCellDef mat-header-cell mat-sort-header disableClear>Delivery Date</th>
            <td *matCellDef="let element" mat-cell>
                {{element.deliveryDate  | date: 'dd/MM/yyyy hh:mm a' }} 
            </td>
        </ng-container>
        <ng-container matColumnDef="deliveryType" class="">
            <th *matHeaderCellDef mat-header-cell>Delivery Type</th>
            <td *matCellDef="let element" mat-cell>
                {{element.typeObj.title_en}} 
            </td>
        </ng-container>
        <ng-container matColumnDef="deliveryCharge" class="">
            <th *matHeaderCellDef mat-header-cell>Delivery Charge</th>
            <td *matCellDef="let element" mat-cell>
                 ({{element.typeObj.price}})
            </td>
        </ng-container>
        <ng-container matColumnDef="status" class="">
            <th *matHeaderCellDef mat-header-cell> Status</th>
            <td *matCellDef="let element" mat-cell>
                <span class="pending" *ngIf="element.status == 0">Pending</span>
                <span class="proccess" *ngIf="element.status == 1">Dispatched</span>
                <span class="active" *ngIf="element.status == 2">On Way</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="details" class="">
            <th *matHeaderCellDef mat-header-cell>Details</th>
            <td *matCellDef="let element" mat-cell>
                <a [routerLink]="'/pages/shipment-details/' + element._id + '/' + element.createdAt">See Details</a>
            </td>
        </ng-container>


        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

    </table>
    <mat-paginator  class="w-100-p paginate" [length]="length" [pageSizeOptions]="[10,25,50,100,200]" (click)="getOrders()"
                   [pageSize]="pagination.limit"
                   (page)="pageEvent = $event;getOrders()"
    >
    </mat-paginator>



</div>
